<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Detalles del usuario y vinculadion con js y base de datos-->
    <h1>Estas viendo el perfil de <%= usuario.nombre %></h1>
    <br>
    <ul>
        <li>EMAIL: <%= usuario.email %></li>
        <li>FECHA DE NACIMIENTO: <%= usuario.nacimiento %></li>
        <li>GENERO FAVORITO: <%= usuario.genero %></li>
    </ul>
    <br>
    <h4>Sus reseñas</h4>
    <% if(resenia.length != 0) { %>
        <% for(let i = 0; i < resenia.length; i++) { %>
            <p>Resenia de la serie <%= resenia[i].idserie %>, con rating <%= resenia[i].puntaje %> . Su reseña es "<%= resenia[i].texto %>" </p>
            <% } %>
        <% } else { %>
            <p>Este usuario no ha hecho ninguna resenia. </p>
            <% } %>

    
    
    <!--Footer-->
        <footer>
            <div class="logo">
              <img src="./images/serionlogo.jpg" alt="">
            </div>
      
             <p>Camila de Paul</p>
             <p>Lola Marotta</p>
             <p>Macarena Montoya</p>
      
          </footer>
          <!--FIN Footer-->

</body>
</html>