<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script rel="stylesheet" src="./javascripts/login.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/resenias.css">
</head>
<body>
  <!-- Esta es la barra de navegacion -->
  <nav class="uk-navbar-container" uk-navbar>
    <div class="contenedorTitulos">
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href='/'><img class="nav-logo" src="../images/serionlogo.jpg"></a></li>
          </ul>
      </div>
      <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
            <li class="li-line">
              <a class="li-a" href='/'>Home</a>
            </li>
              <li  class="li-line">
                  <a class="li-a" href="#">Generos</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav gen">
                      </ul>
                  </div>
              </li>

              <li class="li-line">
                <a class="li-a" href="/busquedaAvanzada">Buscador Avanzado</a>
              </li>
              <li class="li-line">
                <a class="li-a" href="/buscadorUsuarios">Buscador de Usuarios</a>
              </li>
              <li class="li-line">
                <a class="li-a" href="/registracion">Registrate</a>
              </li>
              <li class="li-line">
                <a class="li-a" href="/resenias">Mis Reseñas</a>
              </li>
          </ul>
      </div>
      <div class="contenedorBuscador">
        <form method="get" name="buscar" action="buscador.ejs" class="buscar">
              <input class="uk-search-input casillero" name="buscador" type="search" placeholder="Search...">
              <span class="iconoBuscador" uk-search-icon></span>
          </form>
      </div>
      </div>
  </nav>
  <!-- Esta es la barra de navegacion -->

  <div class="fondo">
    <div class="resenias">
      <br>
     
    <h1> MIS RESEÑAS</h1>
    <% if(resenias.length > 0) {%>
      <h2>Usuario: <%= resenias[0].usuario.nombre %> </h2>
    <% for (let i = 0; i < resenias.length; i++) { %>
        <p>Puntaje: <%= resenias[i].puntaje %> </p>  
        <p> <%= resenias[i].texto %> </p>  

        <a href="/eliminarResenia/<%=resenias[i].id%>">Eliminar</a>
        <a href="/editarResena/<%=resenias[i].id%>">Editar</a>


        
<% } %>
  <% } %>
</div>
</div>
   <!--Footer-->
   <footer>
    <div class="logo">
      <img src="../images/293x302-powered-by-square-green-3ee4814bb59d8260d51efdd7c124383540fc04ca27d23eaea3a8c87bfa0f388d.png" alt="">
    </div>

     <p style="color: grey;">Camila de Paul</p>
     <p style="color: grey;">Lola Marotta</p>
     <p style="color: grey;">Macarena Montoya</p>

  </footer>
  <!--FIN Footer-->
</body>
</html>